<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; let i = index;">
      <th>{{ post.title }}</th>
      <td>{{ post.author }}</td>
      <td>{{ post.category_name }}</td>
      <td>{{ post.created_at }}</td>
      <td>
        <a
          class="btn btn-primary mr-1"
          href="#"
          [routerLink]="['/admin', post.id, 'edit']"
          [queryParams]="{allowEdit: true}">
          Edit
        </a>
        <button
          *ngIf="post.published == 0"
          class="btn btn-success mr-1">Publish</button>
        <button
          *ngIf="post.published == 1"
          class="btn btn-warning mr-1">Unpublish</button>
        <button class="btn btn-danger">Delete</button>
        {{ post.published }}
      </td>
    </tr>
  </tbody>
</table>
