<app-home-header></app-home-header>
<div class="container articles-index">
  <div
    *ngIf="response"
    class="row">
    <div
      *ngFor="let res of response.data; let i = index"
      class="col-md-6 post-index-container">
      <a
        class="post-link"
        [routerLink]="['/post', res.id, res.title, res.image]">
        <h3>{{ res.title }}</h3>
        <div class="img-container">
          <img
            [src]="res.image"
            alt="{{ res.title }}"
            class="img-fluid posts-index-image" />
        </div>
        <p class="badge">{{ res.category_name }}</p>
        <em>{{ res.author }}</em>
        <div>{{ res.lead }}</div>
      </a>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
