.articles-index {
  padding-top: 30px;
}
.post-index-container {
  padding-bottom: 1.5rem;
}
.img-container {
  position: relative;
  height: 17rem;
  width: 100%;
  overflow: hidden;
}
.posts-index-image {
  object-fit: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post-link,
.post-link:hover,
.post-link:active,
.post-link:visited {
  color: #212529;
  text-decoration: none;
}
