<div class="mat-elevation-z8 posts-data-table">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="onRowClicked(row)"
        class="name-cell">{{row.title}}</td>
    </ng-container>
    <ng-container matColumnDef="lead">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead</th>
      <td mat-cell *matCellDef="let row">{{row.lead}}</td>
    </ng-container>
<!-- ['category_id', 'category_name']; -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let row">{{row.image}}</td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>
    <ng-container matColumnDef="category_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>C Id</th>
      <td mat-cell *matCellDef="let row">{{row.category_id}}</td>
    </ng-container>
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>C Name</th>
      <td mat-cell *matCellDef="let row">{{row.category_name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- [length]="dataSource.data.length" -->
  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="12"
      [pageSizeOptions]="[12, 24, 36, 48]">
  </mat-paginator>
</div>
