<app-home-header></app-home-header>
<div class="container post-container">
  <div class="post-heading">
    <div class="post-heading-top">
      <h2>{{ post.title }}</h2>
      <a
        class="btn btn-danger edit-post"
        href="#"
        [routerLink]="['/edit-post', post.id, 'edit']"
        [queryParams]="{allowEdit: true}">
        Edit
      </a>
    </div>
    <div class="post-img-wrap">
      <img [src]="post.image" class="post-image" />
    </div>
    <h5 class="post-lead">{{ post.lead }}</h5>
  </div>
  <div class="post-content">
    <p>{{ post.body }}</p>
  </div>
  <div class="related-posts">
    <a
      class="btn btn-primary"
      routerLink="/">Back</a>
    <!-- <a
      class="btn btn-warning ml-2"
      [routerLink]="['/post', 2, 'An another article']">An another article</a> -->
  </div>
</div>
<app-home-footer></app-home-footer>
